:root {
  --background:#ffffff;
  --hero-background:#DCE0E6;
  --active-nav-link:#B31F22;
  --text:#000000;
  --footer-text:#666666;
  --button-background:#567EBB;
  --button-border-dark:#1F1F20;
  --article-hover-border:#2B4C7E;
  --indicator:#D9D9D9;
  
  --prompt-font: 'Prompt', sans-serif; /* for navigation text,quote */
  --oswald-font: 'Oswald', sans-serif; /* for buttons,heading */
  --opensans-font: 'Open Sans', sans-serif; /* for about section , */
}

body { 
  font-family: var(--oswald-font);
  margin: 0;
  overflow-x: hidden;
}

/* Styles for Header */

header,.svg-container{
  background-color:var(--hero-background);
  
}

header { 
  display: flex; 
  padding-bottom: 20px;
  font-size: 12px;
  font-family: var(--oswald-font);
  padding: 30px;
  font-weight:900;
}

.logo { 
  width: 30%;
  height:auto ;
  margin-left: 10px;
}

.navigation { 
  width: 80%;
  text-transform: uppercase; 
  font-weight: 500; 
  display: flex; 
  justify-content:space-around;
  margin-right: 15%;
  align-items: center;
 }

 /* links section */

.navigation a { 
  cursor: pointer; 
}
 
a{
  text-decoration: none;
  color:var(--text);
  letter-spacing: 0.1em;
  font-size: 12px;
}

a:hover{
  text-decoration: underline;
  color:var(--active-nav-link);
}

/* Hero Section Svg's */

.svg-container {
  position: relative;
  width: 100%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.svg-height{
  bottom: 11px;
}

.crane {
  position: absolute;
  bottom: 11.5vh; /* 8% of the viewport height */
  z-index: 1;
  left: 77%; /* Center horizontally */
  transform: translate(-60%); /* Adjust horizontally to center properly */
  width: 55vw;
  height: 77vh;
}

.svg-icon {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}

.svg-sun {
  position: absolute;
  left: 22vw;
  top: 5vh;
  z-index: 1;
  height: 20vh;
  width: auto;
  transform: translate(-60%);
}

.hero-logo{
  position: absolute;
  left: 15%;
  top: 15%;
  width: 64%;
  height: 19%;
  z-index: 2;
}

/* Styles for Quote */ 

.quote-button {
  background-color:var(--background);
  position: absolute; /* Fixed positioning for centering */
  top: 38.6%; /* Adjusted to place 300px down from the top */
  left: 58.5%;
  transform: translate(-10%, 20%);
  padding: 1% 2%;
  margin: 0; /* Remove margins */
  border:none;
  border-left: 5px solid var(--active-nav-link);
  cursor: pointer;
  z-index: 1;
}

.quote-button:focus { 
  outline: 2px solid var(--active-nav-link); 
}

/* About Us section */

.phone {
    top: 75px;
    width: 90%; /* Set width to 90% of the viewport width */
    max-width: 950px; /* Maximum width */
    height: 370px; /* Automatically adjust height */
    max-height: 439px; /* Maximum height */
    border: 19px solid var(--button-border-dark);
    border-radius: 26px; /* Border radius in percentage */
     /* Border thickness in viewport units */
     background: linear-gradient(180deg, var(--button-background) 64.12%,var(--button-border-dark) 116.17%);/* Border radius in percentage */
    position: relative;
    margin: 0 auto; /* Center the element horizontally */
}   

.screen {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--article-hover-border) 64.12%,var(--button-border-dark) 116.17%);
    border-radius: 26px; /* Border radius in percentage */
    position: relative;
    overflow: hidden;
}

.notch {
    width: 30px;
    height: 190px;
    background-color:var(--button-border-dark);            
    position: absolute;
    top: calc(50% - 90px);
    left: 0;            
    border-radius: 0 100px 100px 0px ;
}

.semicircle {
    width: 100%; /* Full width of the viewport */
    height: 70%; /* Half of the viewport height */
    background: linear-gradient(180deg, var(--article-hover-border) 12.84%, var(--article-hover-border) 100%);
    border-radius: 0 0 50vh 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about,#testimonial {
    padding-left: 110px;
    color:var(--background);
    margin-bottom: 0;
    letter-spacing: 0.32em;
}

.about{
  width: 70%;
}

#about{
  letter-spacing: 2px; 
  text-transform: uppercase;
  font-style: var(--oswald-font) !important;
}

.about-h1{
  margin: 0;
  font-size:32px;
  font-weight: bold;

}

.horizontal-line::before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: var(--button-background);
    position: absolute;
    top: 25px;
    left: 45px;
    transform: translateY(-50%);
}

.about-header {
    padding-left: 30px;
    color:var(--text);
    font-family: var(--oswald-font);
    font-size: 15.87px;
    margin: 0;
    margin-left: 10px;
}

.about-p {
    width: auto;
    height: auto;
    top: 168px;
    margin-left: 10px;
    gap: 8px;
    font-family: var(--oswald-font);
    color:var(--background);
}

.about-build {
    bottom: -4px;
    position: absolute;
    width:93% ;
    height: auto;
    left: -1px;   
}

.about-button {
  width: auto;
  height: auto;    
  left: 50px;
  padding: 5px 40px;
  border: 0;
  border-left: 6px solid var(--button-border-dark);
  gap: 10px;
  background-color: var(--button-background);
  font-family: var(--oswald-font);
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.12em;
  text-align: left;
  color: var(--background);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: 250px;
  z-index: 1;
}

/*Project Section*/

.feedback{
  margin-top: 190px;
}

.project-section {
  z-index: 0;
  display: flex;
  left: 0;
  margin: auto;
  width: 100%;
  max-width: 977px;
  flex-direction: column;
  align-items: end;
  padding: 0 20px;
  justify-content: right;
  z-index: 1;
}

.project-header {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: var(--button-border-dark);
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 4.48px;
  line-height: 119%;
}

.projects-title {
  font-family: var(--opensans-font);
  flex-grow: 1;
}

.title-underline {
  background-color: var(--article-hover-border);
  width: 52px;
  height: 1px;
  margin: auto 0;
}

.explore-text {
  color:var(--text);
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 28px;
  font: 700 45px/119% var(--oswald-font);
}

.work-gallery {
  align-self: stretch;
  margin-top: 44px;
}

.image-row {
  gap: 20px;
  display: flex;
}

.large-image-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 73%;
  margin-left: 0px;
}

.large-image {
  aspect-ratio: 1.1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-bottom: 20px solid var(--button-background);
  z-index: 3;
}

.small-image-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 27%;
  margin-left: 20px;
}

.small-image {
  aspect-ratio: 0.59;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-bottom: 1px solid var(--button-background);
  z-index: 3;
}

.indicator-row {
  display: flex;
  gap: 30px;
}

.indicator{
  width: 80px;
  height: 10px;
  top: 2280px;
  left: 952px;
  background:var(--indicator);
 
}

.indicator:hover{
  background-color: var(--button-border-dark);
}

.all-project{
  position: absolute;
  top: -250px;
  right: 0;
  height: 30px;
}

#project-button{
  position: relative;
  top: 10px;
  float: right;
  width: auto;
  height: 70px;
  width: 240px;
  font-size: 20px;
  border: none;
  background-color:var(--button-background);
  color:var(--background);
  border-right: 10px solid var(--button-border-dark);
}

/* Testimonial Section*/

#testmonial-section {
  display: flex;
  justify-content: center;
  position: relative;
  top: -220px;
  z-index: 1; /* Ensure the testimonial section is above other elements */
}

.testimonial-container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 45%;
}

.testimonial-slide-container {
  display: flex;
  position: relative;
}

.rounded-box {
  width: 98%;
  height: 828px;
  background: var(--article-hover-border);
  border-radius: 50px;
  position: relative;
  gap: 0;
  z-index: 1; /* Ensure the testimonial box is above other elements */
}

.testimonial-client {
  text-align: left;
}

.testimonial-client h1 {
  font-size: 30px;
  text-transform: uppercase;
}

.testimonial-buttons {
  position: absolute;
  bottom: 20px; /* Adjust the position of the buttons */
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-button {
  padding: 10px 20px;
  background-color: var(--button-background);
  color: var(--background);
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.testimonial-button:last-child {
  margin-right: 0; /* Remove margin from the last button */
}

/* Article Section*/

.articles{
  display: flex;
  justify-content: center;
  gap: 20%;
  flex-wrap: wrap-reverse;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
 }

 /* Article Box Section */

.box {
  background-color:var(--indicator); 
  padding: 20px;
  width: 23vw;
  height: 23vw;
  max-width: 200px; 
  max-height: 200px;
  flex-shrink: 0;
}

.box:nth-child(1) {
  border-top-left-radius: 50px;
}

.box:nth-child(2) {
  border-top-right-radius: 50px;
}

.box:nth-child(3) {
  border-bottom-left-radius: 50px;
}

.box:nth-child(4) {
  border-bottom-right-radius: 50px;
  border-right: 20px solid var(--article-hover-border);
  border-bottom: 20px solid var(--article-hover-border);
}


/* Article Text container */

.article-top-text{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: sans-serif;
  display: inline;
}

 .article-horizontal-line::after {
  content: "";
  width: 70px;
  height: 1.5px;
  background-color: var(--button-background);
  position: absolute;
  top: 15px;
  right: 5px;
  transform: translateY(-50%);
}

.article-text-container{
  height: 400px;
  width: 300px;
  position: relative;
  
}
.article-text{
  font-size: 40px;
  text-transform: uppercase;
  line-height: 15px;
  text-align: end;
  font-family: sans-serif;
}

.article-button{
  height: 50px;
  width: 200px;
  font-size: 20px;
  border: none;
  background-color:var(--button-background);
  color:var(--background);
  border-right: 10px solid var(--article-hover-border);
  position: absolute;
  right: 0;
  
}


/* Contact section */

#contact {
  height: 50vh;
  width: 100%;
  margin-bottom: 50px; 
}

.contact-text-container
{
 position: relative;
  top: 70px;
  left: -250px;
  gap: 34.92px;
}
.light-crane{
  z-index: -1;
}
.contact-text-container p{


font-family: var(--opensans-font);
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.1em;
text-align: left;

}
.contact-text-container h1
{
  font-size: 30px;
  text-transform: uppercase;
}

.contact-container{
  position: relative;
  display: flex;
  top: 6.5vh; ;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  
}

.contact-button{
  width:181.31px;
  height: 64.66px;
  padding: 21.83px, 43.66px, 21.83px, 43.66px;
  background:var(--button-background);
  gap: 8.73px;
  border-left: 5.24px solid var(--article-hover-border);
  color:var(--background);
  font-family: var(--oswald-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.12em;
  


}


/* Footer section*/


hr {
  width: 100%;
  height: 2px; 
  background-color:var(--text);
  border: none; 
  position: relative;
  top: 3px;  
}

.footer-container 
{
   display:flex;
   justify-content:space-around;
   width: 100%;
   height: auto;
}

#copyright{
  display: flex;
  justify-content:center;
  width: 90%;
  gap: 50%;
   
}

#social-items {
  margin: 16px 0;
  display: flex;
  justify-content:center;
  gap: 20px;
  width: 8px;
  height: 8px;
  color: #1F1F1F;
}

footer svg {
  width: 20%;
  height: 10%;
  padding:1.5em ;  
}

footer {
  width: 100%;
  background-color:var(--hero-background);
  color:var(--footer-text);
  font-family: var(--oswald-font);

}
