body { 
  background-color: #0066ff; 
  font-family: Prompt, 
  sans-serif; 
}

/* Styles for Header */
.container { 
  max-width: 932px; 
  margin: 0 auto; 
  padding: 27px 0 8px; 
}

header { 
  display: flex; 
  padding-bottom: 20px;
  margin-left: 5em; 
}

.logo { 
  width: 377.14px;
  height:auto ;
  float: left;
}

.tagline { 
  font-size: 13px; 
  margin-top: 7px; 
}

.navigation { 
  text-transform: uppercase; 
  font-weight: 500; 
  display: flex; 
  gap: 20px; 
  margin-top: 48px; 
}

.navigation a { 
  cursor: pointer; 
}

.active { 
  color: rgba(179, 31, 34, 1); 
}

.navigation-divider { 
  background-color: #b31f22; 
  height: 1px; 
  width: 43px; 
  margin-top: 5px; 
}

.banner { 
  margin-top: 202px; 
  width: 100%; 
}

.sr-only { 
  position: absolute; 
  left: -10000px; 
  top: auto; 
  width: 1px; 
  height: 1px; 
  overflow: hidden; 
}

svg{
  top:300px
}

@media (max-width: 991px) {
  header { 
    flex-direction: column; 
    align-items: 
    center;
   }

  .navigation { 
    flex-direction: column; 
    align-items: center; 
  }

  .banner, .navigation-divider, .quote-button { 
    margin-top: 40px; }
}

a{
  text-decoration: none;
}

/* Hero Section Svg */

.svg-container {
position: relative;
width: 100vw;
height: 718px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;

}

.crane {
position:relative;
top: -70px;
margin-right: 10px;
margin-right: -580px;
}

.svg-icon {
width: 100vw;
top: 450px;
position: absolute;
width: 100%;

}

.svg-sun{
position: absolute;
left: 20px;
top: 180px;
}

.svg-logo{
position: absolute;
left: 140px;
top: 200px;
z-index: 1;
}

.quote-button { 
background-color: #fff;
position:absolute;
top: 300px;
right: 600px;
padding: 16px 27px; margin: 34px 0 0; border-left: 5px solid #b31f22; cursor: pointer;
}

.quote-button:focus { 
  outline: 2px solid #b31f22; 
}

.phone {
    top: 75px;
    width: 90%; /* Set width to 90% of the viewport width */
    max-width: 950px; /* Maximum width */
    height: 350px; /* Automatically adjust height */
    max-height: 439px; /* Maximum height */
    background-color: #000;
    border: 20px solid #000; /* Border thickness in viewport units */
    border-radius: 26px; /* Border radius in percentage */
    position: relative;
    margin: 0 auto; /* Center the element horizontally */
}   

.screen {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #2B4C7E 64.12%, #1F1F20 116.17%);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.notch {
    width: 30px;
    height: 200px;
    background-color: #000;            
    position: absolute;
    top: calc(50% - 100px);
    left: 0;            
    border-radius: 0 100px 100px 0px ;
}

.semicircle {
    width: 100vw; /* Full width of the viewport */
    height: 50vh; /* Half of the viewport height */
    background: linear-gradient(180deg, #2B4C7E 12.84%, #2B4C7E 100%);
    border-radius: 0 0 50vw 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#about {
    padding-left: 110px;
    color: #ffffff;
    font-family: Oswald;
    margin-bottom: 0;
}

.about-h1{
  margin: 0;
  font-size:32px;
  font-weight: bold;
}

.horizontal-line::before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #567EBA;
    position: absolute;
    top: 25px;
    left: 45px;
    transform: translateY(-50%);
}

.about-header {
    padding-left: 30px;
    color:#000000;
    font-family: Oswald;
    font-size: 15.87px;
    margin: 0;
    margin-left: 10px;
}

.about-p {
    width: auto;
    height: auto;
    top: 168px;
    margin-left: 10px;
    gap: 8px;
    font-family: 'Oswald', sans-serif;
    color:#FFFFFF;
;
}
.about-build {
    bottom: -4px;
    position: absolute;
    left: -15px;
}
.about-button {
  width: auto;
  height: auto;    
  left: 50px;
  padding: 5px 40px;
  border: 0;
  border-left: 6px solid #1F1F20;
  gap: 10px;
  background-color: #567EBB;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: 200px;
  z-index: 1;
}

/* Testimonial Section*/

#testmonial-box {
  display: flex;
  justify-content: center;
  

}
.testimonial-container{
 position: relative;
  top:600px;
  left: 50px;
  vertical-align: top;
}
  .rounded-box {
    /* Rectangle 144 */
  width: 1242px;
  height: 828px;  
  display: flex;
  flex-direction: row;


background: #2B4C7E;
border-radius: 50px;

  }

/* Article Section*/

.articles{
  position: relative;
  top: 450px;
  display: flex;
  margin-left: 50px;
  gap: 400px;
  
 
}
.article-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adding gap between flex items */
    
}

.article-right,
.article-left,
.article-top,
.article-bottom {
    height: 200px;
    width: 180px;
    border: 2px solid black;
}

.article-right {
    border-radius: 0 80px 0 0;
    background-color: gray;
}

.article-left {
    border-radius: 0 0 0 80px;
    background-color: gray;
}

.article-top {
    border-radius: 80px 0 0 0;
    background-color: gray;
}

.article-bottom {
    border-radius: 0 0 80px 0;
    background-color: gray;
}

/* Article Text container */

.article-top-text{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: sans-serif;
  display: inline;
}
.article-text-container{
  height: 400px;
  width: 300px;
  border: 2px solid red;
  position: relative;
  float: right;
  
}
.article-text{
  font-size: 40px;
  text-transform: uppercase;
  line-height: 15px;
  text-align: end;
  font-family: sans-serif;
}
.article-button{
  height: 50px;
  width: 200px;
  font-size: 20px;
  border: none;
  background-color: #567EBA;
  color: white;
  border-right: 10px solid #2B4C7E;
  position: relative;
  float: right;
  top: 50px;
}
hr {
  width: 100px;
  height: 2px; 
  background-color: #000000;
  border: none; 
  display: inline-block; /* Adjusted to display as inline-block */
  position: relative;
  top: 3px; /* Added margin for spacing */
  float: right;
}