body {
      background-color: #f0f0f0;
      font-family: Oswald;     
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }


  /*About US*/
  .phone {
      top: 75px;
      width: 90%; /* Set width to 90% of the viewport width */
      max-width: 950px; /* Maximum width */
      height: 350px; /* Automatically adjust height */
      max-height: 439px; /* Maximum height */
      background-color: #000;
      border: 20px solid #000; /* Border thickness in viewport units */
      border-radius: 26px; /* Border radius in percentage */
      position: relative;
      margin: 0 auto; /* Center the element horizontally */
  }   
  
  .screen {
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #2B4C7E 64.12%, #1F1F20 116.17%);
      border-radius: 8px;
      position: relative;
      overflow: hidden;
  }
  
  .notch {
      width: 30px;
      height: 200px;
      background-color: #000;            
      position: absolute;
      top: calc(50% - 100px);
      left: 0;            
      border-radius: 0 100px 100px 0px ;
  }
  
  .semicircle {
      width: 100vw; /* Full width of the viewport */
      height: 50vh; /* Half of the viewport height */
      background: linear-gradient(180deg, #2B4C7E 12.84%, #2B4C7E 100%);
      border-radius: 0 0 50vw 50vw;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    
  }
  
  #about {
      padding-left: 110px;
      color: #ffffff;
      font-family: Oswald;
      margin-bottom: 0;
  }

  .about-h1{
    margin: 0;
    font-size:32px;
    font-weight: bold;
  }
  
  .horizontal-line::before {
      content: "";
      display: block;
      width: 50px;
      height: 1px;
      background-color: #567EBA;
      position: absolute;
      top: 25px;
      left: 45px;
      transform: translateY(-50%);
  }
  
  .about-header {
      padding-left: 30px;
      color:#000000;
      font-family: Oswald;
      font-size: 15.87px;
      margin: 0;
      margin-left: 10px;
  }
  
  .about-p {
      width: auto;
      height: auto;
      top: 168px;
      margin-left: 10px;
      gap: 8px;
      font-family: 'Oswald', sans-serif;
      color:#FFFFFF;
;
  }
  .about-build {
      bottom: -4px;
      position: absolute;
      left: -15px;
  }
  .about-button {
    width: auto;
    height: auto;    
    left: 50px;
    padding: 5px 40px;
    border: 0;
    border-left: 6px solid #1F1F20;
    gap: 10px;
    background-color: #567EBB;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.12em;
    text-align: left;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 200px;
    z-index: 1;
}
/*End of About US*/